# Global config for all files
CompileFlags:
  Add: [
    # Remove all built-in definitions
    "-undef",

    # No standard includes
    "-nostdinc",
    "-nostdinc++",
    "-fno-builtin",

    # Target definitions
    "--target=ppc32-unknown-eabi",
  ]
